* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-top {
  width: 100%;
  background-color: #EC715F;
  height: 70px;
}

.nav-list {
  width: 1024px;
  display: flex;
  margin-left: auto;
}

.nav-image {
  height:70px;
  size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list-text {
  list-style: none;
  line-height:70px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  width: 100%;
  height: 650px;
  text-align: center;
}
.main-visual-content {
  padding-top: 200px;  
}

.main-visual-main {
  color: #FAFAFA;
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-text {
  color: #FAFAFA;
  font-size: 20px;
}

.portfolio {
  background-color: #ECEFF1;
}

.portfolio-main {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px; 
  width: 920px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-text-top {
  position: relative;
  font-size: 32px;
  color: #000;
}

.portfolio-text-top::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -8px;
  width: 70px;
  height: 2px;
  background-color: #EC715F;
}

.portfolio-text {
  font-size: 16px;
  color: #000;
  margin-top: 38px;
  margin-bottom: 30px;
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image-box {
  width: 300px;
  height: 250px; 
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-image-box:nth-child(3n) {
  margin-right: 0;
}

.portfolio-image-box:nth-last-dhild(-n + 3) {
  margin-bottom: 0;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  text-align: center;
  line-height: 70px;
}

.footer-text {
  color: #FAFAFA;
}